{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container-fluid forum">
        <div class="row">
            <div class="col-md-12 text-center">

                <button class="positive ui button"  data-toggle="modal" data-target="#example">Post a question</button>


            </div>

        </div>
        <div class="row">
            <div class="col-md-4 question-board">
                <h1 class="text-center">Questions Asked</h1>
                {% for topic in topics %}
                    <h4 data-toggle="modal" data-target="#{{topic.id}}" class="title-topic">Title : {{ topic.Title}}</h4>
                {% endfor %}
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>


    {% for topic in topics %}
        <div class="modal fade" id="{{topic.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle"> {{image.image_name}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3>{{ topic.Title }}</h3>
                        <form  action="{%url 'comment' topic_id=topic.id %}" method="post" enctype="multipart/form-data" class="ui reply form">
                            {%csrf_token%}
                            {% bootstrap_form comment%}
                        </form>
                        {% for comment in comments %}
                            {% if comment.topic_id_id == topic.id %}
                                <p><strong><a href="{% url 'profile' user_id=comment.commenter.id %}" class="link">{{ comment.commenter }}</a></strong> &nbsp; {{ comment.comment }}</p>
                            {% endif %}
                        {% endfor %}


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

    <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" class="ui reply form">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}



