{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static   %}
{% block content %}
    <div class="container-fluid text-center usersprofile">

        <div class="row userprofile text-center">

            <div class="col-md-5 call">
                <div class="ppic-holder">
                    <img class="profile-pic" src="{{ profile.profile_pic.cdn_url }}" alt="">

                </div>
                <div class="contact-holder text-center">
                    <h5>{{ profile.user.username }}</h5>
                    <h3 >{{ profile.phone_number }}</h3>
                    <a href="#">
                        <div class="another-holder">
                            <div class="inner text-center">
                                <span class="call-icon"><i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-1 center-col">

            </div>
            <div class="col-md-5 profile">
                <div class="popic-holder">
                    <img src="{{ profile.profile_pic.cdn_url }}" alt="">
                    <h5 class="owner">{{ profile.user.username }} {% if online.id != profile.user.id %}<i class="far fa-comments" data-toggle="modal" data-target="#ModalMessage"> </i>{% endif %}</h5>
                    <h6 class="text-muted owner">Gender: {{ profile.gender }} </h6>
                    <h6 class="text-muted">RATING : {{ rate }} &nbsp;{% if online.id != profile.user.id %}<div class="ui vertical animated button" tabindex="0" data-toggle="modal" data-target="#ModalRate">
                        <div class="hidden content">Rate</div>
                        <div class="visible content">
                            <i class="star icon" style="color: gold;"></i>
                        </div>
                    </div> {% endif %}</h6>

                    <div class="card card-default">
                        <div class="card-body">
                            {% if user.is_teacher %}
                                <p style="color: black">GITHUB</p>
                                <i class="fab fa-github" style="color: black; font-size: 3vh;">&nbsp; {{ profile.github_username }}</i>
                            {% endif %}
                            <br>
                            <p style="color: black">EMAIL</p>
                            <i class="fas fa-envelope" style="color:black;font-size: 3vh; font-weight: lighter;">&nbsp;{{ profile.user.email }}</i>

                        </div>
                    </div>
                    <div>
                        <br>
                        {% if user.is_teacher %}
                            <h5 class="text-muted">Bio: {{ profile.bio }}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



    </div>



    <div class="modal fade" id="ModalMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Send {{ profile.user.username }} a message </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form dm %}
                        <button type="submit" class="ui primary button" >Send</button>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ModalRate" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'rate' user_id=profile.user.id  %}">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input type="submit" value="Save" class="btn btn-primary">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>







{% endblock %}

