{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h5>{{ profile.user.username }}</h5>
    <p>{{ profile.gender }}</p>
    <p>{{ profile.phone_number }}</p>
    {% if user.is_teacher %}
        {{ profile.bio }}
        {{ profile.github_username }}
    {% endif %}
    {#{% for ra in rate %}#}
    {#    {{ ra.s }}#}
    {#    {% endfor %}#}
    {{ rate }}
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form dm %}
        <button type="submit" >slide</button>
    </form>


    {% if online.id != profile.user.id %}
        <form method="post" action="{% url 'rate' user_id=profile.user.id  %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Rate" class="btn btn-primary">
        </form>
    {% endif %}
{% endblock %}

