{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="container-fluid register">
        <div class="row push">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <h1 class="register-welcome"><strong>REGISTER</strong></h1>
                <br>
                <div class="card card-default registration-form elongate">
                    <div class="card-body">
                        <form  method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="btn btn-primary" type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
                    <br>
                <div class="card card-default registration-form login-redirect">
                    <p>Already have an account? <a href="/accounts/login/">Login</a</p>
                    <br>
                </div>
            </div>
            </div>
            <div class="col-md-4">

            </div>

        </div>
    </div>

{% endblock %}